<h1>View#filed</h1>
<p>Find me in app/views/view/filed.html.erb</p>

<%= form_for(@book) do |f| %>
	テキストボックス:
	<%= f.text_field :isbn, size: 20, maxlength: 25, readonry: true %><br />

	パスワードボックス:
	<%= f.password_field :isbn, size: 10, maxlength: 15, disabled: true %><br />

	テキストエリア:
	<%= f.text_area :isbn, cols: 40, row: 10 %><br />

	ラジオボタン:
	<label><%= f.radio_button :publish, '技術評論社', class: :rd %>技術評論社</label>
	<label><%= f.radio_button :publish, '翔泳社', class: :rd %>翔泳社</label>
	<label><%= f.radio_button :publish, 'マイナビ', class: :rd %>マイナビ</label><br />

	チェックボックス:
	<label><%= f.check_box :cd, { class: 'chk'}, 'yes', 'no' %>CD付属？</label><br />

	ファイル入力ボックス:
	<%= f.file_field :isbn, size: 10, maxlength: 15 %><br />

	隠しフィールド:
	<%= f.hidden_field :isbn %><br />

<% end %>
